html {
  scroll-behavior: smooth;
}
.sell-ftco-section {
  height: 100vh !important;
  margin-top: 50px !important;
}
.btn-red {
  color: white;
  background-color: #e52b34 !important;
}
.btn-red:hover {
  color: #ffffff;
}
.input-image span:host {
  color: white !important;
}
.food-card{
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
}
.space{
  margin-left: 10px !important;
}
.for-files{
  border: 1px solid rgba(255,255,255,.3)!important;
  height: 50px !important;
  background: transparent!important;
  color: rgba(255,255,255,.9)!important;
  font-size: 14px;
  border-radius: 2px;
  width: 100%;
  padding: 10px;
}
#img-preview{
  width: 60px !important;
}
.btn-blue{
  background-color: rgb(0, 98, 255) !important;
  color: white;
}
.food-card{
  overflow: hidden;
  padding-left: 20px
}
.food-card #img-preview{
  width: 130px !important;
}